body{
  font-family: 'Exo 2', sans-serif;
  background: #181818;
}
.App {
  text-align: center;
}
#root{
  height:100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-modal{
  width: 800px !important;
}

.ant-modal-body{
  padding:2rem;
}

.ant-modal-close-x{
  background-color: #2B5407;
  color: #fff;
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-close-x > .anticon svg{
  width:0.8em;
  height:0.8em;
}

.ant-modal-content{
  border-radius: 20px !important;
}

.ant-modal-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 150px);
}




.ant-popover-title{
  padding:15px;
  font-weight: bold;
}

.ant-popover-title{
  padding:15px;
  font-weight: bold;
}

.settingPopover .ant-popover-content{
  min-width: 150px;
}

.settingPopover .ant-popover-inner-content{
  padding: 00px;
}
.settingDetails{
  display:flex;
  flex-direction:column;
}

.settingDetails > span {
  padding: 8px 15px;
  border-bottom:1px solid #d8d8d8;
  font-weight:bold;
  cursor: pointer;
}

.settingDetails > span:hover{
  color:#2B5407;
}

.settingDetails > .logout{
  border-bottom:none;
}






/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12191d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

